*{
 margin:0;
 padding:0;
}
.App{
  text-align: center;
}
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gray;
  padding-top:24px;
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:white;
    height:5rem;
    box-shadow: 0 0 20px -20px currentcolor;
    z-index: 1;
}
nav a{
  color:black;
}
.nav-links {
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
