*{
 margin:0;
 padding:0;
}
.App{
  text-align: center;
}
nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: gray;
  padding-top:24px;
  position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:white;
    height:5rem;
    box-shadow: 0 0 20px -20px currentcolor;
    z-index: 1;
}
nav a{
  color:black;
}
.nav-links {
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
/*
@media screen and (min-width: 280px) and (max-width:1279px){
  body {
    width: 100%;
    overflow-x: hidden;
 }

}

@media screen and (min-width: 280px) and (max-width:1279px){
  .services{
    width:290%;
  }

}

@media screen and (min-width: 280px) and (max-width:1279px){
  .dept{

    width:290%;
  }
}
@media screen and (min-width: 280px) and (max-width:1279px){
  .doctors{
    width:290%;
  }
}
@media screen and (min-width: 280px) and (max-width:1279px){
  .contact{
    width:290%;
  }
}
@media screen and (min-width: 280px) and (max-width:1279px){
  .blog{

    width:290%;
  }
}
@media screen and (min-width: 280px) and (max-width:1279px){
  .address{
    width:290%;
  }
}
@media screen and (min-width: 280px) and (max-width:1279px){
  .footer{
    width:290%;
  }
}
*/